$this: '#{$egeo-namespace}c-input';

@mixin egeo-c-input {
    @include egeo-c-formcontrol;

    @if $egeo-c-input---border { border: $egeo-c-input---border; }
    @if $egeo-c-input---border-bottom { border-bottom: $egeo-c-input---border-bottom; }
    @if $egeo-c-input---font-size { font-size: $egeo-c-input---font-size; }
    @if $egeo-c-input---box-shadow { box-shadow: $egeo-c-input---box-shadow; }

    + .egeo-c-message--restriction {
        visibility: hidden;
    }

    &:focus {
        + .egeo-c-message--restriction {
            visibility: visible;
        }
    }

    .egeo-c-popover {
        left: 1px;
        top: 15px;
    }
}

@if variable-exists(egeo-c-input) {
    @if $egeo-c-input {
        .#{$this} {
            @include egeo-c-input;
        }
    }
}
