// If silent classes are activated the CSS classes will be not created
@if global-variable-exists(egeo-silent-classes) {
    $egeo-c-input: not $egeo-silent-classes !default;    
} @else {
    $egeo-c-input: true !default;
}

$egeo-c-input---box-shadow: none !default;
$egeo-c-input---border: 0 !default;
$egeo-c-input---border-bottom: 1px solid egeo-get-color(n10) !default;
$egeo-c-input---font-size: null !default;

$egeo-c-input__popover---left: 1px !default;
$egeo-c-input__popover---top: 15px !default;

$egeo-c-input__placeholder---color: egeo-get-color(n5) !default;
$egeo-c-input__placeholder---font-style: italic !default;
