<div ng-form name="{{id}}" class="egeo-c-formgroup">
    <label class="egeo-c-label" for="{{id}}" ng-show="{{(label != null)}}">{{label}}</label>
    <input type="{{type}}" class="egeo-c-input" id="{{id}}" name="{{id}}" placeholder="{{placeholder}}" data-ng-model="model" data-ng-pattern="pattern" data-ng-required="{{required}}" data-ng-disabled="{{disabled}}" data-qa="{{qa}}" data-ng-trim="false">
    <div class="egeo-c-message--inline" data-ng-if="!this[id].$valid">
        {{this[id].$error}}
    </div>
</div>
