<div ng-form name="{{id}}" class="egeo-c-formgroup">
    <label class="egeo-c-label" for="{{id}}" ng-show="{{(label != null)}}">
        {{label}}
        <span class="egeo-c-label__optional-mark" data-ng-if="!required"></span>
        <egeo-c-button data-type="submit" data-popover="popover-{{vm.id}}" data-modifier="help" data-rounded="true" data-xxsmall="true" data-icon-left="icon-help2" data-ng-if="vm.hasHelp"></egeo-c-button>
    </label>

    <div class="egeo-c-popover" data-id="popover-{{vm.id}}" data-ng-show="vm.isPopoverShown">
        <div class="egeo-c-popover__text">
            {{helpText}}
        </div>
    </div>

    <input type="{{type}}" class="egeo-c-input" id="{{id}}" name="{{id}}" placeholder="{{placeholder}}" data-ng-model="model" data-ng-pattern="pattern" data-ng-required="{{required}}" data-ng-disabled="{{disabled}}" data-qa="{{qa}}" data-ng-trim="false">

    <div class="egeo-c-message" data-ng-if="!this[id].$valid && this[id][id].$touched" data-ng-class="{'egeo-c-message--error': required, 'egeo-c-message--warn': !required}">
        <i class="egeo-c-icon icon-alert" data-ng-if="!required && this[id][id].$error.pattern"></i>
        <i class="egeo-c-icon icon-circle-cross" data-ng-if="this[id][id].$error.required || (this[id][id].$error.pattern && required)"></i>
        <span class="egeo-c-message__text" data-ng-if="this[id][id].$error.required">This field is required.</span>
        <span class="egeo-c-message__text" data-ng-if="this[id][id].$error.pattern">This field has wrong format.</span>
    </div>

    <div class="egeo-c-message egeo-c-message--info" data-ng-if="info && (this[id].$valid || !this[id][id].$touched)">
        <i class="egeo-c-icon icon-info1"></i>
        <span class="egeo-c-message__text">{{info}}</span>
    </div>
</div>
