$this: '#{$egeo-namespace}c-row';

@mixin egeo-c-row {
    @include egeo-c-component;
    @extend %#{$egeo-namespace}u-clearfix;

    display: block;
}

@if variable-exists(egeo-c-row) {
    @if $egeo-c-row {
        .#{$this} {
            @include egeo-c-row;
        }
    }
}
