// If silent classes are activated the CSS classes will be not created
@if global-variable-exists(egeo-silent-classes) {
    $egeo-c-badge: not $egeo-silent-classes !default;
} @else {
    $egeo-c-badge: true !default;
}

$egeo-c-badge---font-size: egeo-get-font-size(body_xxxsmall) !default;
$egeo-c-badge---background: egeo-get-color(s2_dark) !default;
$egeo-c-badge---padding: 1px 5px 1px 5px !default;
$egeo-c-badge---color: egeo-get-color(n10) !default;
$egeo-c-badge---border-radius: 7px !default;
$egeo-c-badge---top: -25px !default;
$egeo-c-badge---right: 0 !default;
$egeo-c-badge---tweakpoint: 1260px !default;

$egeo-c-badge--tweakpoint---top: -15px !default;
$egeo-c-badge--tweakpoint---right: -25px !default;
