$this: '#{$egeo-namespace}c-button';

@mixin egeo-c-button-modifier($name,
							  $normal-properties,
							  $hover-properties, 
							  $focus-properties) {
	@if $name {
		&--#{$name} {
			@if $normal-properties {
				@if length($normal-properties) > 0 {
					@each $name, $value in $normal-properties {
						#{$name}: $value;
					}
				}				
			}

			@if $hover-properties {
				@if length($hover-properties) > 0 {
					&:hover {
						@each $name, $value in $hover-properties {
							#{$name}: $value;
						}
					}
				}				
			}

			@if $focus-properties {
				@if length($focus-properties) > 0 {
					&:focus {
						@each $name, $value in $focus-properties {
							#{$name}: $value;
						}
					}
				}				
			}
		}		
	} @else {
		@if function-exist(egeo-log) {
			@if egeo-log('@egeo-c-button-modifier::$name null is not allowed, the modifier will be not generated.', $log-warn) {}
		}
	}
}

@mixin egeo-c-button {
	@include egeo-c-component;

	border: 0;
	cursor: pointer;
	display: inline-block;
	font-size: $egeo-c-button---font-size;
	height: $egeo-c-button---height;
	min-width: $egeo-c-button---min-width;
	padding: $egeo-c-button---padding;
	position: relative;
	text-align: $egeo-c-button---text-align;
	text-transform: $egeo-c-button---text-transform;
	text-decoration: none;
	transition: $egeo-c-button---transition;

	@if variable-exists(egeo-c-icon) {
		@if $egeo-c-icon {
			.#{$egeo-namespace}c-icon:first-child {
				margin: $egeo-c-button__c-icon--first-child---margin;
			}

			.#{$egeo-namespace}c-icon:last-child {
				margin: $egeo-c-button__c-icon--last-child---margin;
			}
		}
	}

	&--small {
		font-size: $egeo-c-button--small---font-size;
		height: $egeo-c-button--small---height;
		padding: $egeo-c-button--small---padding;

		@if variable-exists(egeo-c-icon) {
			@if $egeo-c-icon {
				.#{$egeo-namespace}c-icon {
					margin: $egeo-c-button--small__c-icon---margin;
				}
			}
		}
	}

	&--rounded {
		border-radius: 100%;
		min-width: $egeo-c-button---height;
		padding: 0;
		width: $egeo-c-button---height;

		@if variable-exists(egeo-c-icon) {
			@if $egeo-c-icon {
				.#{$egeo-namespace}c-icon {
					margin: 0;
					display: block;
				}
			}
		}

		&.#{$this}--small {
			min-width: $egeo-c-button--small---height;
			width: $egeo-c-button--small---height;
		}
	}

	@each $button, $properties in $egeo-c-buttons {
		@include egeo-c-button-modifier($button, 
										map-get($properties, normal), 
										map-get($properties, hover), 
										map-get($properties, focus)
										);
	}

	&:focus {
		box-shadow: $egeo-c-button--focus---shadow;
		outline: none;
	}

	@if map-has-key($egeo-c-buttons, disabled) {
		&:disabled {
			@extend .#{$this}--disabled;
		}
	}
}

@if variable-exists(egeo-c-button) {
	@if $egeo-c-button {
		.#{$this} {
			@include egeo-c-button;
		}
	}
}
