@mixin egeo-c-button-modifier($name, $background, $border, $color, $background-hover, $border-hover, $color-hover) {
	@if $name {
		&--#{$name} {
			@if $background {
				background: $background;
			}

			@if $border {
				border: $border;
			}

			@if $color {
				color: $color;
			}

			&:hover {
				@if $background-hover {
					background: $background-hover;
				}

				@if $border-hover {
					border: $border-hover;
				}

				@if $color-hover {
					color: $color-hover;
				}

				text-decoration: none;
			}
		}		
	} @else {
		@if function-exist(egeo-log) {
			@if egeo-log('@egeo-c-button-modifier::$name null is not allowed, the modifier will be not generated.', $log-warn) {}
		}
	}
}

@mixin egeo-c-button {
	@include egeo-c-component;

	border: 0;
	cursor: pointer;
	display: inline-block;
	height: $egeo-c-button---height;
	min-width: $egeo-c-button---min-width;
	padding: $egeo-c-button---padding;
	position: relative;
	text-align: $egeo-c-button---text-align;
	text-transform: $egeo-c-button---text-transform;
	text-decoration: none;
	transition: $egeo-c-button---transition;

	@each $button, $properties in $egeo-c-buttons {
		@include egeo-c-button-modifier($button, 
										map-get($properties, background), 
										map-get($properties, border), 
										map-get($properties, color),
										map-get($properties, background-hover), 
										map-get($properties, border-hover), 
										map-get($properties, color-hover)
										);
	}

	@if variable-exists(egeo-c-icon) {
		@if $egeo-c-icon {
			.#{$egeo-namespace}c-icon {
				margin: $egeo-c-button__c-icon---margin;
			}
		}
	}
}

@if variable-exists(egeo-c-button) {
	@if $egeo-c-button {
		.#{$egeo-namespace}c-button {
			@include egeo-c-button;
		}
	}
}
