@mixin egeo-c-button-modifier($name, $background, $border, $color, $background-hover, $border-hover, $color-hover) {
	@if $name {
		&--#{$name} {
			@if $background {
				background: $background;
			}

			@if $border {
				border: $border;
			}

			@if $color {
				color: $color;
			}

			&:hover {
				@if $background-hover {
					background: $background-hover;
				}

				@if $border-hover {
					border: $border-hover;
				}

				@if $color-hover {
					color: $color-hover;
				}

			}
		}		
	} @else {
		@if function-exist(egeo-log) {
			@if egeo-log('@egeo-c-button-modifier::$name null is not allowed, the modifier will be not generated.', $log-warn) {}
		}
	}
}

@mixin egeo-c-button {
	@include egeo-c-component;

	border: 0;
	cursor: pointer;
	display: inline-block;
	height: $egeo-c-button---height;
	min-width: $egeo-c-button---min-width;
	padding: $egeo-c-button---padding;
	position: relative;
	text-align: $egeo-c-button---text-align;
	text-transform: $egeo-c-button---text-transform;
	text-decoration: none;

	@include egeo-c-button-modifier('call-to-action-1', 
									$egeo-c-button--call-to-action-1---background, 
									$egeo-c-button--call-to-action-1---border, 
									$egeo-c-button--call-to-action-1---color,
									$egeo-c-button--call-to-action-1--hover---background, 
									$egeo-c-button--call-to-action-1--hover---border, 
									$egeo-c-button--call-to-action-1--hover---color
									);

	@include egeo-c-button-modifier('call-to-action-2',
									$egeo-c-button--call-to-action-2---background, 
									$egeo-c-button--call-to-action-2---border, 
									$egeo-c-button--call-to-action-2---color,
									$egeo-c-button--call-to-action-2--hover---background, 
									$egeo-c-button--call-to-action-2--hover---border, 
									$egeo-c-button--call-to-action-2--hover---color
									);

	@include egeo-c-button-modifier('call-to-action-3',
									$egeo-c-button--call-to-action-3---background, 
									$egeo-c-button--call-to-action-3---border, 
									$egeo-c-button--call-to-action-3---color,
									$egeo-c-button--call-to-action-3--hover---background, 
									$egeo-c-button--call-to-action-3--hover---border, 
									$egeo-c-button--call-to-action-3--hover---color
									);

	@include egeo-c-button-modifier('call-to-action-4',
									$egeo-c-button--call-to-action-4---background, 
									$egeo-c-button--call-to-action-4---border, 
									$egeo-c-button--call-to-action-4---color,
									$egeo-c-button--call-to-action-4--hover---background, 
									$egeo-c-button--call-to-action-4--hover---border, 
									$egeo-c-button--call-to-action-4--hover---color
									);

	@include egeo-c-button-modifier('danger',
									$egeo-c-button--danger---background, 
									$egeo-c-button--danger---border, 
									$egeo-c-button--danger---color,
									$egeo-c-button--danger--hover---background, 
									$egeo-c-button--danger--hover---border, 
									$egeo-c-button--danger--hover---color
									);

	@if variable-exists(egeo-c-icon) {
		@if $egeo-c-icon {
			.#{$egeo-namespace}c-icon {
				margin: $egeo-c-button__c-icon---margin;
			}
		}
	}
}

@if variable-exists(egeo-c-button) {
	@if $egeo-c-button {
		.#{$egeo-namespace}c-button {
			@include egeo-c-button;
		}
	}
}
