// If silent classes are activated the CSS classes will be not created
@if global-variable-exists(egeo-silent-classes) {
    $egeo-c-button: not $egeo-silent-classes !default;    
} @else {
    $egeo-c-button: true !default;
}

//
//  Button definitions
//

// default buttons
$egeo-c-buttons: (
    call-to-action-1: (background: egeo-get-color(a1), border: 0, color: egeo-get-color(n0), background-hover: egeo-get-color(a1_dark), border-hover: 0, color-hover: egeo-get-color(n0)),
    call-to-action-2: (background: egeo-get-color(a2), border: 0, color: egeo-get-color(n0), background-hover: egeo-get-color(a2_dark), border-hover: 0, color-hover: egeo-get-color(n0)),
    call-to-action-3: (background: egeo-get-color(a3), border: 0, color: egeo-get-color(n0), background-hover: egeo-get-color(a3_dark), border-hover: 0, color-hover: egeo-get-color(n0)),
    call-to-action-4: (background: egeo-get-color(n3), border: 2px solid egeo-get-color(n3), color: egeo-get-color(n4), background-hover: egeo-get-color(n0), border-hover: 2px solid egeo-get-color(n4), color-hover: egeo-get-color(n5)),
    danger: (background: egeo-get-color(s3), border: 0, color: egeo-get-color(n0), background-hover: egeo-get-color(s3_dark), border-hover: 0, color-hover: egeo-get-color(n0))
) !default;

// Map to customize new buttons
$egeo-c-buttons-custom: () !default;

// Merge of the two Sass map of buttons
$egeo-c-buttons: map-merge($egeo-c-buttons, $egeo-c-buttons-custom);

//
//  General properties shared between all buttons
//
$egeo-c-button---height: 40px !default;
$egeo-c-button---min-width: 180px !default;
$egeo-c-button---padding: 8px 20px !default;
$egeo-c-button---text-align: center !default;
$egeo-c-button---text-transform: uppercase !default;
$egeo-c-button---transition: all 1s !default;

$egeo-c-button__c-icon---margin: 0 .5em 0 0 !default;
