// If silent classes are activated the CSS classes will be not created
@if global-variable-exists(egeo-silent-classes) {
    $egeo-c-button: not $egeo-silent-classes !default;    
} @else {
    $egeo-c-button: true !default;
}

//
//  Button definitions
//

//
//  General properties shared between all buttons
//
$egeo-c-button---font-size: egeo-get-font-size(medium) !default;
$egeo-c-button---height: 40px !default;
$egeo-c-button---min-width: 180px !default;
$egeo-c-button---padding: 8px 20px !default;
$egeo-c-button---text-align: center !default;
$egeo-c-button---text-transform: uppercase !default;
$egeo-c-button---transition: all .5s !default;

$egeo-c-button--focus---shadow: 0 0 5px 0 rgba(egeo-get-color(n8), .5) !default;

$egeo-c-button__c-icon--first-child---margin: 0 8px 0 0 !default;
$egeo-c-button__c-icon--last-child---margin: 0 0 0 8px !default;


//
//  General properties shared between all buttons
//  in a small size
//
$egeo-c-button--small---font-size: egeo-get-font-size(small) !default;
$egeo-c-button--small---height: 30px !default;
$egeo-c-button--small---padding: 4px 15px !default;

$egeo-c-button--small__c-icon---margin: 0 6px 0 0 !default;


//
//  General properties shared between all buttons
//  in a extra small size
//
$egeo-c-button--xxsmall---font-size: egeo-get-font-size(small) !default;
$egeo-c-button--xxsmall---height: 12px !default;
$egeo-c-button--xxsmall---padding: 0 5px !default;

$egeo-c-button--xxsmall__c-icon---margin: 0 6px 0 0 !default;


// Default button types
$egeo-c-buttons: (
    main-1: (
                normal: (background: egeo-get-color(a1), border: 0, color: egeo-get-color(n0)), 
                hover: (background: egeo-get-color(a1_dark), border: 0, color: egeo-get-color(n0)), 
                focus: (background: egeo-get-color(a1_light), border: 0, color: egeo-get-color(n0))
            ),
    main-2: (
                normal: (background: egeo-get-color(a2), border: 0, color: egeo-get-color(n0)), 
                hover: (background: egeo-get-color(a2_dark), border: 0, color: egeo-get-color(n0)), 
                focus: (background: egeo-get-color(a2_light), border: 0, color: egeo-get-color(n0))
            ),
    main-3: (
                normal: (background: egeo-get-color(a3), border: 0, color: egeo-get-color(n0)), 
                hover: (background: egeo-get-color(a3_dark), border: 0, color: egeo-get-color(n0)), 
                focus: (background: egeo-get-color(a3_light), border: 0, color: egeo-get-color(n0))
            ),
    secondary-1: (
                    normal: (background: transparent, border: 3px solid egeo-get-color(n3), color: egeo-get-color(n4)), 
                    hover: (background: transparent, border: 3px solid egeo-get-color(n4), color: egeo-get-color(n5))
                ),
    tool-1: (
                normal: (background: egeo-get-color(n2), border: 0, color: egeo-get-color(a1)), 
                hover: (background: egeo-get-color(n3), border: 0, color: egeo-get-color(a1_dark))
            ),
    tool-2: (
                normal: (background: egeo-get-color(n2), border: 0, color: egeo-get-color(n6)), 
                hover: (background: egeo-get-color(n3), border: 0, color: egeo-get-color(n7))
            ),
    tool-ellipsis: (
                normal: (background: transparent, border: 2px solid egeo-get-color(n5), color: egeo-get-color(n6)),
                hover: (background: transparent, border: 2px solid egeo-get-color(n5), color: egeo-get-color(n6))
            ),
    help: (
                normal: (background: transparent, border: 0, color: egeo-get-color(n6), min-width: $egeo-c-button--xxsmall---height, width: $egeo-c-button--xxsmall---height),
            ),
    danger: (
                normal: (background: egeo-get-color(s3), border: 0, color: egeo-get-color(n0)), 
                hover: (background: egeo-get-color(s3_dark), border: 0, color: egeo-get-color(n0))
            ),
    disabled: (
                normal: (background: egeo-get-color(n3), border: 0, color: egeo-get-color(n0))
              ),
    dropdown-1: (
                normal: (background: transparent, border: 0, color: egeo-get-color(n7), min-width: 0, padding: 0), 
                hover: (background: transparent, border: 0, color: egeo-get-color(n6), min-width: 0, padding: 0), 
                focus: (background: transparent, border: 0, color: egeo-get-color(n6), min-width: 0, padding: 0)
            ),
    menu-1: (
                normal: (background: transparent, border: 0, color: egeo-get-color(n7), min-width: 0, padding: 0), 
                hover: (background: transparent, border: 0, color: egeo-get-color(n5), min-width: 0, padding: 0), 
                focus: (background: transparent, border: 0, color: egeo-get-color(n5), min-width: 0, padding: 0)
            )
) !default;

// Map to customize new buttons
$egeo-c-buttons-custom: () !default;

// Merge of the two Sass map of buttons
$egeo-c-buttons: map-merge($egeo-c-buttons, $egeo-c-buttons-custom);
