// Form
//
// <span class="tag tag--untested">untested</span><span class="tag tag--warn">beta version</span>
//
// The Form component is a wrapper to group all components inside an HTML Form
// logically related to the CSS.
//
// ### egeo-c-form
// 
// <span class="tag tag--type">@mixin</span><span class="tag tag--untested">untested</span>
//
// At present, the component only includes the basic behavior inherited from [component](section-7.html#section-7.1).
//
// ## Variables exposed to theming
//
// | Variable                                              | Default value                                                        | Description                                                             |
// | ----------------------------------------------------- | -------------------------------------------------------------------- | ----------------------------------------------------------------------- |
// | <span class="egeo-u-nowrap">$egeo-c-form</span>       | <span class="egeo-u-nowrap">`true` </span>                           | Tells Egeo if the class egeo-c-form should be included in the CSS.      |
//
// ## Dependencies
//  
// * [component](section-7.html#section-7.1)
//
// <div class="compatibility">Compatibility IE8+, Firefox 29+, Chrome 10+, Edge 12+, Safari 5.1+, Opera 9.5+</div>
//
// Styleguide 7.10

@import 'vars';
@import 'rules';
