$this: '#{$egeo-namespace}o-box-shadow';

@mixin egeo-o-box-shadow {
    box-shadow: $egeo-o-box-shadow;
}

@if variable-exists(egeo-o-box-shadow) {
    @if $egeo-o-box-shadow {
        .#{$this} {
            @include egeo-o-box-shadow;
        }
    }
}
