@import 'true';
@import '../../src/settings/settings';
@import '../../src/tools/tools.log';
@import '../../src/components/icon/components.icon';

@include test-module('components.icon') {
	@include test('egeo-c-icon [mixin]') {
		@include assert('output the general properties and modifiers of a icon') {
			@include input {
				.test {
					@include egeo-c-icon;
				}
			}

			@include expect {
				.test {
					box-sizing: border-box;
				}
			}
		}
	}
}

@include report;
