// Icon
//
// <span class="tag tag--tested">tested</span>
//
// The Icon Component is a class to group common styles and behaviors to
// all icons in an Egeo app.
//
// ### egeo-c-icon
// 
// <span class="tag tag--type">@mixin</span><span class="tag tag--tested">tested</span><span class="tag tag--danger">internal</span>
//
// Injects the general behavior and properties of the class Icon to other
// components of the UI Kit.
//
// **Note**: The Icon component triggers styles in other components if is active.
//
// #### Usage
//
// ```
// .test {
// 		@include egeo-c-icon;
// }
// ```
// Will product the next result:
// ```
// .test {
// 		box-sizing: border-box;
// }
// ```
//
// ## Dependencies
//  
// * [component](section-7.html#section-7.1)
//
// <div class="compatibility">Compatibility IE8+, Firefox 29+, Chrome 10+, Edge 12+, Safari 5.1+, Opera 9.5+</div>
//
// Styleguide 7.3

@import 'rules';
@import 'vars';
