@mixin menu-max() {
  @media (min-width: $egeo-c-header__menu----tweakpoint) {
    &__menu {
      &-item {
        &__label {
            @if $egeo-c-header__menu-item---color { color: $egeo-c-header__menu-item---color; }
            display: inline-block;
            @if $egeo-c-header__menu-item__label---font-family { font-family: $egeo-c-header__menu-item__label---font-family; }
            @if $egeo-c-header__menu-item__label---font-size { font-size: $egeo-c-header__menu-item__label---font-size; }
            @if $egeo-c-header__menu-item__label---letter-spacing { letter-spacing: $egeo-c-header__menu-item__label---letter-spacing; }
            @if $egeo-c-header__menu-item__label---text-transform { text-transform: $egeo-c-header__menu-item__label---text-transform; }
        }

        &__icon {
            @if $egeo-c-header__menu-item__icon---font-size { font-size: $egeo-c-header__menu-item__icon---font-size; }
        }

        .egeo-c-icon + &__label {
            @if $egeo-c-header__menu-item__label---margin { margin: $egeo-c-header__menu-item__label---margin; }
        }

        @if $egeo-c-header__menu-item--hover---color {
            $temp: '#{&}';

            &:hover,
            &--active {
                @if $egeo-c-header__menu-item--hover---color {
                    & #{$temp}__label {
                        color: $egeo-c-header__menu-item--hover---color;
                    }
                }
            }
        }
      }
    }
  }
  &__note {
    @if $egeo-c-header__note--menu-max---padding { padding: $egeo-c-header__note--menu-max---padding; }
  }
}
