$this: '#{$egeo-namespace}c-header';

@mixin egeo-c-header {
    @include egeo-c-component;

    @if $egeo-c-header---background { background: $egeo-c-header---background; }
    @if $egeo-c-header---padding { padding: $egeo-c-header---padding; }

    &__logo {
        display: inline-block;
    }

    &__navigation {
        display: inline-block;
    }

    &__menu {
        list-style: none;
        @if $egeo-c-header__menu---margin { margin: $egeo-c-header__menu---margin; }
        padding: 0;

        &-item {
            @if $egeo-c-header__menu-item---color { color: $egeo-c-header__menu-item---color; }
            cursor: pointer;
            display: inline-block;
            @if $egeo-c-header__menu-item---margin { margin: $egeo-c-header__menu-item---margin; }

            &:first-child {
                margin: 0;
            }

            &__label {
                @if $egeo-c-header__menu-item---color { color: $egeo-c-header__menu-item---color; }
                @if $egeo-c-header__menu-item__label---font-family { font-family: $egeo-c-header__menu-item__label---font-family; }
                @if $egeo-c-header__menu-item__label---font-size { font-size: $egeo-c-header__menu-item__label---font-size; }
                @if $egeo-c-header__menu-item__label---letter-spacing { letter-spacing: $egeo-c-header__menu-item__label---letter-spacing; }
                @if $egeo-c-header__menu-item__label---text-transform { text-transform: $egeo-c-header__menu-item__label---text-transform; }
            }

            &__icon {
                @if $egeo-c-header__menu-item__icon---font-size { font-size: $egeo-c-header__menu-item__icon---font-size; }
            }

            .egeo-c-icon + &__label {
                @if $egeo-c-header__menu-item__label---margin { margin: $egeo-c-header__menu-item__label---margin; }
            }

            @if $egeo-c-header__menu-item--hover---color {
                $temp: '#{&}';

                &:hover,
                &--active {
                    @if $egeo-c-header__menu-item--hover---color {
                        color: $egeo-c-header__menu-item--hover---color;

                        & #{$temp}__label {
                            color: $egeo-c-header__menu-item--hover---color;
                        }
                    }
                }
            }
        }
    }
}

@if variable-exists(egeo-c-header) {
    @if $egeo-c-header {
        .#{$this} {
            @include egeo-c-header;
        }
    }
}
