$this: '#{$egeo-namespace}c-buttongroup';

@mixin egeo-c-buttongroup {
	@include egeo-c-component;

    &__more {
        display: inline-block;
        vertical-align: top;
    }
}

@if variable-exists(egeo-c-buttongroup) {
    @if $egeo-c-buttongroup {
        .#{$this} {
            @include egeo-c-buttongroup;
        }
    }
}
