// settings.colors
//
// In this file are defined the variables related to the use of colors.
// By default, the colors included in the main Sass map `$colors` are the
// ones defined by the Design Team in the [visual specification](/visual-docs/section-1.html#section-1.1).
//
// ## Variables
//
// | var 										| default 											| desc 																																											|
// |--------------------------------------------|---------------------------------------------------|-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
// | <div class="u-tx-align-left">$colors</div> | <span class="tag tag--default">!default</span> 	| <div class="u-tx-align-left">The default Sass map of colors. By default, the map includes the whole [colors of the visual specification](/section-1.html#section-1.1).</div> 	|
//
// ### Sass Map $colors
//
// <div class="color-block color-block-c1"><div class="color-block__title">c1: #37b5e4</div></div>
// <div class="color-block color-block-c1b"><div class="color-block__title">c1b: #2d96bd</div></div>
// <div class="color-block color-block-c2"><div class="color-block__title">c2: #b7bfc3</div></div>
// <div class="color-block color-block-c2b"><div class="color-block__title">c2b: #92989c</div></div>
// <div class="color-block color-block-c3"><div class="color-block__title">c3: #485566</div></div>
// <div class="color-block color-block-c3b"><div class="color-block__title">c3b: #2d3540</div></div>
// <div class="color-block color-block-c4"><div class="color-block__title">c4: #222b37</div></div>
// <div class="color-block color-block-c5"><div class="color-block__title">c5: #d3d8db</div></div>
// <div class="color-block color-block-g0"><div class="color-block__title">g0: #fff</div></div>
// <div class="color-block color-block-g1"><div class="color-block__title">g1: #fbfbfb</div></div>
// <div class="color-block color-block-g2"><div class="color-block__title">g2: #f3f3f3</div></div>
// <div class="color-block color-block-g3"><div class="color-block__title">g3: #e4e4e4</div></div>
// <div class="color-block color-block-g4"><div class="color-block__title">g4: #cbcbcb</div></div>
// <div class="color-block color-block-g5"><div class="color-block__title">g5: #b5b5b5</div></div>
// <div class="color-block color-block-g6"><div class="color-block__title">g6: #999</div></div>
// <div class="color-block color-block-g7"><div class="color-block__title">g7: #777</div></div>
// <div class="color-block color-block-g8"><div class="color-block__title">g8: #555</div></div>
// <div class="color-block color-block-g9"><div class="color-block__title">g9: #242424</div></div>
// <div class="color-block color-block-g10"><div class="color-block__title">g10: #000</div></div>
// <div class="color-block color-block-f1"><div class="color-block__title">f1: #222b37</div></div>
// <div class="color-block color-block-f2"><div class="color-block__title">f2: #1a212b</div></div>
// <div class="color-block color-block-f3"><div class="color-block__title">f3: #eff2f3</div></div>
// <div class="color-block color-block-f4"><div class="color-block__title">f4: #e1e4e5</div></div>
// <div class="color-block color-block-f5"><div class="color-block__title">f5: #fff</div></div>
// <div class="color-block color-block-e1"><div class="color-block__title">e1: #93ae65</div></div>
// <div class="color-block color-block-e1b"><div class="color-block__title">e1b: #7d9456</div></div>
// <div class="color-block color-block-e1c"><div class="color-block__title">e1c: #9fad87</div></div>
// <div class="color-block color-block-e2"><div class="color-block__title">e2: #eb8817</div></div>
// <div class="color-block color-block-e2b"><div class="color-block__title">e2b: #d17915</div></div>
// <div class="color-block color-block-e2c"><div class="color-block__title">e2c: #eb9e46</div></div>
// <div class="color-block color-block-e3"><div class="color-block__title">e3: #d24234</div></div>
// <div class="color-block color-block-e3b"><div class="color-block__title">e3b: #b8392e</div></div>
// <div class="color-block color-block-e3c"><div class="color-block__title">e3c: #d15549</div></div>
// <div class="color-block color-block-a1"><div class="color-block__title">a1: #d0c120</div></div>
// <div class="color-block color-block-a2"><div class="color-block__title">a2: #21d8de</div></div>
// <div class="color-block color-block-a3"><div class="color-block__title">a3: #bcea3</div></div>
//
// Styleguide 2.1

$colors: (
	c1: #37b5e4,
	c1b: #2d96bd,
	c2: #b7bfc3,
	c2b: #92989c,
	c3: #485566,
	c3b: #2d3540,
	c4: #222b37,
	c5: #d3d8db,
	g0: #fff,
	g1: #fbfbfb,
	g2: #f3f3f3,
	g3: #e4e4e4,
	g4: #cbcbcb,
	g5: #b5b5b5,
	g6: #999,
	g7: #777,
	g8: #555,
	g9: #242424,
	g10: #000,
	f1: #222b37,
	f2: #1a212b,
	f3: #eff2f3,
	f4: #e1e4e5,
	f5: #fff,
	e1: #93ae65,
	e1b: #7d9456,
	e1c: #9fad87,
	e2: #eb8817,
	e2b: #d17915,
	e2c: #eb9e46,
	e3: #d24234,
	e3b: #b8392e,
	e3c: #d15549,
	a1: #d0c120,
	a2: #21d8de,
	a3: #bcea3f
) !default;
