// Message
//
// <span class="tag tag--untested">untested</span>
//
// The Message Component is a class to group common styles and behaviors to
// all Messages in an Egeo app.
//
// ### egeo-c-message
// 
// <span class="tag tag--type">@mixin</span><span class="tag tag--untested">untested</span><span class="tag tag--danger">internal</span>
//
// Injects the general behavior and properties of the class Message.
//
// #### Usage
//
// ```
// .test {
// 		@include egeo-c-message;
// }
// ```
// Will product the next result:
// ```
// .test {
// 		box-sizing: border-box;
// }
// ```
//
// ## Variables exposed to theming
//
// | Variable                                              | Default value                                | Description                                                           |
// | ----------------------------------------------------- | -------------------------------------------- | --------------------------------------------------------------------- |
// | <span class="egeo-u-nowrap">$egeo-c-message</span>    | <span class="egeo-u-nowrap">`true` </span>   | Tells Egeo if the class egeo-c-message should be included in the CSS. |
//
// ## Dependencies
//  
// * [component](section-7.html#section-7.1)
//
// <div class="compatibility">Compatibility IE8+, Firefox 29+, Chrome 10+, Edge 12+, Safari 5.1+, Opera 9.5+</div>
//
// Styleguide 7.3

@import 'vars';
@import 'rules';
