<header class="egeo-c-app-header">
    <egeo-c-row content-at-right="true" variant="b1">
        <egeo-c-toolbar>
            <egeo-c-dropdown icon="icon-head" label="{{username}}">
                <div>Logout</div>
            </egeo-c-dropdown>

            <egeo-c-dropdown icon="icon-stratio_small" label="Stratio">
                <div>Logout</div>
            </egeo-c-dropdown>
        </egeo-c-toolbar>
    </egeo-c-row>

    <egeo-c-row variant="b2">
        <a ui-sref="{{logoSref}}">
            <img src="{{logoUrl}}" alt="{{logoAlt}}" />
        </a>

        <egeo-c-toolbar>
            <egeo-c-button data-type="button" data-modifier="menu-1" data-icon-left="icon-cog" data-label="Policies"></egeo-c-button>
            <egeo-c-button data-type="button" data-modifier="menu-1" data-icon-left="icon-login" data-label="Inputs"></egeo-c-button>
            <egeo-c-button data-type="button" data-modifier="menu-1" data-icon-left="icon-logout" data-label="Outputs"></egeo-c-button>
        </egeo-c-toolbar>

        <egeo-c-toolbar at-right="true">
            <egeo-c-button data-type="button" data-modifier="menu-1" data-icon-left="icon-cog" data-label="AngularJS Button"></egeo-c-button>
        </egeo-c-toolbar>
    </egeo-c-row>
</header>
