// tools.colors
//
// A set of mixins and functions to work with colors.
//
// ### is-coloured($colors)
// 
// <span class="tag tag--type">@mixin</span><span class="tag tag--tested">Test covered</span>
//
// Creates a set of modifier classes with the whole colors of a colors map passed as a parameter.
//
// * **$colors** - A Sass map of colors when the key is the name of the color and the value is the color itself.
//
// <div class="compatibility">Compatibility untested.</div>
//
// ### get-color($color)
// 
// <span class="tag tag--type">@function</span><span class="tag tag--tested">Test covered</span>
//
// Get a specific color of the Sass map of colors [$egeo-colors defined in settings.colors](section-2.html#section-2.1).
//
// * **$color** - The key of color we want to obtain from the [Sass map of colors](section-2.html#section-2.1).
//
// Styleguide 3.1

@mixin is-coloured($colors, $type: color) {
	@if type-of($colors) == 'map' {
		@each $key, $value in $colors {
			&--#{$key} {
				@if $type == color {
					color: $value;
				} @else if {
					background-color: $value;
				} @else {
					@if log('@is-coloured::The second param #{type} is not a valid value. Only color or background are valid ones.', $log-error) {}
				}
			}
		}
	} @else {
		@if log('@is-coloured::The first param is not a valid Sass map.', $log-error) {}
	}
}

@function get-color($color) {
	$result: #000;

	@if global-variable-exists(egeo-colors) {
		@if type-of($egeo-colors) == 'map' {
			@if map-has-key($egeo-colors, $color) {
				$result: map-get($egeo-colors, $color);
			} @else {
				@if function-exists(log) {
					@if log('@get-color::The color #{color} not exist in $egeo-colors.', $log-error) {}
				}
			}
		} @else {
			@if function-exists(log) {
				@if log('@get-color::The $egeo-colors variable is not a Sass map.', $log-error) {}
			}
		}
	} @else {
		@if function-exists(log) {
			@if log('@get-color::The Sass map $egeo-colors is not defined.', $log-error) {}
		}
	}

	@return $result;
}
